* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
html{
    font-family: 'Roboto', sans-serif;
}

nav {
    height:60px;
    background: black;
    /* Define the height of the navigation bar in pixels */
}

ul.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  line-height: 60px;/* vertically center text  */
}

a {
    /* These are the children elements */
    color:white;
    text-decoration: none;
}
