h3 {
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ae956b;
    }

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f3f2e9;
    color: #799cac;
    }

.item1 {
    float:right
    }

.neon {
    text-decoration: none;
    color: #5d432a;
    font-weight: bold;
}
    
.bold {
    font-weight: bolder;
}

main, header, footer {
    padding: 20px;
  }
  
header{
        height: 20vh;
      }
      
main {
        height: 73vh;
      }

footer {
        height: 7vh;
        position:fixed;
        bottom: 0;
        width: 70%;
        background: #f3f2e9;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
}

footer a {
    color: #ae956b;
    text-decoration: none;
}

figure {
        width:75%;
        margin:auto;
        position:relative;
    }

    img {
        width:100%;
    }

figcaption {
        position:absolute;
        right:10px;
        bottom:10px;
        color: #799cac;
}